@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

<div class="jumbotron">
    <h1>PROJECTS</h1>
    <p class="lead">Check the projects</p>
    <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">Go to projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TICKETS</h2>
        <p>
            Check the tickets
        </p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "Tickets", new { userId = User.Identity.GetUserId() })">Go to tasks &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NOTIFICATIONS</h2>
        <p>Check the notifications</p>
        <p><a class="btn btn-success" href="@Url.Action("Index", "TicketsNotifications", new { userId = User.Identity.GetUserId() })"> Notifications &raquo; </a></p>
    </div>    
</div>