@model IPagedList<BugTracker.Models.TicketNotification>
@using PagedList.Mvc;
@using PagedList;
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Notifications</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(t => t.Ticket.Title).Titled("Ticket Title");
    columns.Add(t => t.Ticket.Project.Name).Titled("Project Name");
    columns.Add(t => t.Type);
    columns.Add(t => t.ModifiedUser);
}).WithPaging(3)

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>